            * {
                box-sizing: border-box;
            }
            
            @font-face {
                font-family: "Depot";
                src: url("../fonts/Depot.ttf ");
            }
            
            body {
                background: url(fone.jpg);
            
            }
            
            .menu {
                width: 70%;
                margin-left: 15%;
                border-radius: 10px;
                position: fixed;
                z-index: 100;
                margin-top: 0%;
                background-color: rgba(252, 252, 252, 0.3);
            }
            
            .shapka {
                margin-left: 15%;
                text-align: center;
                width: 70%;
                background-color: rgba(252, 252, 252, 0.3);
                border-radius: 10px;
            }
            
            .text1,
            .text2,
            .logo {
                font-family: "Roboto", "iHelvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 20px;
                color: white;
                text-align: center;
                display: inline-block;
                margin: 0;
                margin-top: 3%;
                vertical-align: top;
                width: 30%;
            }
            
            .img {
                width: 70%;
            }
            
            .carousel {
                margin-top: 1%;
                margin-left: 15%;
                width: 70%;
                text-align: center;
            }
            
            .btn1,
            .btn2,
            .btn3 {
                text-align: center;
                width: 100%;
                margin: auto;
                font-size: 100px;
                border-radius: 10px;
            }
            
            .back,
            .down,
            .first,
            .second,
            .third {
                display: inline-block;
                width: 17%;
                margin-left: 2%;
                vertical-align: top;
                font-size: 20px;
                font: bold;
            }
            
            .exter,
            .inter,
            .kley,
            .mail,
            .kontakt {
                background-color: rgba(252, 252, 252, 0.3);
                width: 70%;
                height: 90%;
                margin-left: 15%;
                border-radius: 10px;
                margin-top: 2%;
            }
            
            .ex,
            .int,
            .kl,
            .kont {
                font-family: "Depot";
                margin-top: 1%;
                display: block;
                text-align: center;
                color: white;
            }
            
            .text_block1,
            .text_block2,
            .text_block3 {
                color: white;
                display: inline-block;
                width: 67%;
                vertical-align: top;
                margin-top: 2%;
                margin-left: 2%;
                font-size: 20px;
            }
            
            .expic,
            .intpic,
            .klpic {
                display: inline-block;
                width: 23%;
                vertical-align: top;
                margin-top: 2%;
                margin-left: 5%;
                font-size: 20px;
            }
            
            .exter2 {
                display: inline-block;
            }
            
            #carouselExampleControls,
            #carouselExampleControls2,
            #carouselExampleControls3 {
                display: inline-block;
                vertical-align: top;
                width: 40%;
                margin-top: 2%;
                margin-left: 2%;
                margin-right: 15%;
            }
            
            table {
                margin-top: 4%;
                display: inline-block;
                width: 40%;
                color: white;
                font-size: 20px;
                color: white;
            }
            
            td {
                width: 10%;
            }
            
            img {
                width: 80%;
            }
            
            .titles {
                width: 140px;
                float: left;
            }
            
            .text_block4 {
                display: inline-block;
                vertical-align: top;
                width: 25%;
                margin-top: 2%;
                margin-left: 2%;
                margin-right: 15%;
                font-family: "Roboto", "iHelvetica Neue", Helvetica, Arial, sans-serif;
                color: white;
                text-align: center;
                font-size: 20px;
                margin-bottom: 1%;
            }
            
            .kontakt1 {
                display: inline-block;
                vertical-align: top;
                width: 40%;
                margin-top: 2%;
                margin-left: 2%;
                margin-right: 15%;
                font-family: "Roboto", "iHelvetica Neue", Helvetica, Arial, sans-serif;
                color: white;
                text-align: center;
                font-size: 20px;
            }
